.timer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.current {
  color: var(--color-gray);
  font-size: 1.5rem;
  font-weight: 400;
  margin: auto 0;
}

.form {
  display: flex;
  margin: auto 0;

  .deleteButton {
    margin-left: 12px;
  }
}