.root {
  .header {
    width: 250px;
  }

  .header {
    box-sizing: border-box;
    height: 51px;
  }

  .main {
    box-sizing: border-box;
    height: calc(100% - 51px);
  }
}

.container {
  margin: 32px auto;
  max-width: 512px;

  &-button {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
  }

  &-timer {
    margin-bottom: 20px;
  }
}